.upColor {
  color: rgb(75, 221, 75);
}
.downColor {
  color: red;
}
.defaultColor {
  color: grey;
}
.live-currency {
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 40%;
  z-index: 1;
  color: grey;
}

.time-title {
  padding: 2px 2px;
  margin: 0;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
}

.btns {
  margin: 0;
  display: flex;
  position: absolute;
  left: 0%;
  bottom: 16%;
  z-index: 1;
}

/* CSS */
.time-btn {
  appearance: button;
  background-color: #0e597c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 2px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1px;
  /* margin: 0; */
  margin-left: 4px;
  outline: none;
  overflow: visible;
  padding: 7px 9px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.time-btn:after {
  background-clip: padding-box;
  background-color: #0e597c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.time-btn:main,
.time-btn:focus {
  user-select: auto;
}

.time-btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.time-btn:disabled {
  cursor: auto;
}

.spinner {
  position: absolute;
  right: 50%;
  top: 40%;
}
